@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%); /* Change to -50% to match the duplicated logos */
    }
  }
  
  .slider-track {
    animation: slide 35s infinite linear; /* Adjust timing as needed */
  }
  
  .testimonial-item:before,
  .testimonial-item:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  .testimonial-item:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(21, 1, 17));
  }
  
  .testimonial-item:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(50, 44, 44));
  }
  
  /* Pause animation on hover */
  .testimonial-item:hover {
    animation-play-state: paused;
  }